@using BugReport.Models.Account
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

@model VerifyEmailViewModel;
@{
    ViewData["Title"] = localizer["forgot-password"];
    Layout = "_AccountLayout";
}

<h2 class="mb-4 fw-bold" style="text-transform:uppercase">@localizer["forgot-password"]</h2>
<form asp-action="ForgotPassword" method="post">
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="submit" value="@localizer["forgot-password"]" class="btn btn-dark-blue w-100 p-2" />
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}