@using BugReport.Models.Account
@model ResetPasswordViewModel;
@{
    ViewData["Title"] = "Forgot password";
}

<div class="account-container">
    <div class="account-card">
        <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center mb-4 text-center text-sm-start">
            <div class="title-text mb-3 mb-sm-0">STUDENT <br /> ERROR REPORTING</div>
            <img src="~/img/logo.svg" alt="Illustration" class="img-fluid" style="max-height:120px;" />
        </div>

        <hr />

        <h2 class="mb-4 fw-bold">RESET PASSWORD</h2>
        <form asp-action="ResetPassword" method="post">
            @Html.AntiForgeryToken()
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="submit" value="Reset password" class="btn btn-dark-blue w-100 p-2" />
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}